.toolbar {
  display: flex;
  gap: 5px;
  align-items: center;
  height: 46px;
  background-color: #fff;
  border-radius: 18px;
  padding: 0 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.toolItem {
  position: relative;
}

.toolItem {
  button {
    padding: 5px 10px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 10px;
    transition: all linear 0.2s;
  }
}

.toolItemOptions.showToolItemOptions {
  z-index: 999;
  opacity: 1;
}

.toolItemOptions {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 12px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all linear 0.2s;
  z-index: -1;
  opacity: 0;

  div {
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all linear 0.2s;
    &:hover {
      background-color: #f0f0f0;
    }
  }
}

.divider {
  width: 1.5px;
  height: 20px;
  background-color: #e5e5e5;
}
