.container {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 12px;
  background: #fff;
  height: 100%;
  color: #111827;
  max-width: 1200px;
  width: 80vw;
  padding: 50px;
  background-color: transparent;
}

.editor {
  border-radius: inherit;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.editor:focus {
  outline: none;
}

.editorContainer {
  position: relative;
  height: 100%;
}

.editor p {
  margin: 1em 0;
}
