.toolbarItem {
  position: relative;
  height: 30px;
  padding: 0 8px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all linear 0.2s;
  background-color: transparent;
  &:hover {
    background-color: #f5f5f5;
    & > svg {
      color: #737373;
    }
  }
  & > svg {
    color: #0a0a0a;
  }
  &:has(.divider) {
    padding: 0 4px;
  }
}

.divider {
  width: 1.5px;
  height: 20px;
  background-color: #e5e5e5;
}
