.elementWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 3px;
  &:hover {
    .dragIcon {
      opacity: 1;
    }
  }
  .dragIcon {
    width: 22px;
    transition: all linear 0.2s;
    opacity: 0;
    cursor: grab;
  }
}

.codeBlock {
  background-color: #f1f1f1;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 15px;
  white-space: pre-wrap;
  overflow: auto;
}
