.hoveringTool {
  position: absolute;
  z-index: 10;
  top: -10000px;
  left: -10000px;
  margin-top: -8px;
  opacity: 0;
  transition: opacity ease-in 0.2s;
}

.commentInput {
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 10px;
  margin-top: 8px;
  box-shadow:
    rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  input {
    outline: none;
    border: 2px solid #95bfff;
    height: 26px;
    width: 200px;
    border-radius: 5px;
    padding-left: 10px;
    font-weight: 600;
  }
  button {
    margin-left: 10px;
    background-color: #f1f1f1;
    border: #eee;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
  }
}

.elementWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  border: 5px solid transparent;
  border-radius: 3px;
  transition: all linear 0.2s;
  &:hover {
    background-color: #e0edfb;
    .dragIcon {
      opacity: 1;
    }
  }
  .dragIcon {
    width: 16px;
    height: 16px;
    transition: all linear 0.1s;
    opacity: 0;
    cursor: grab;
    user-select: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    div {
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: gray;
    }
  }
}

.codeBlock {
  background-color: #f1f1f1;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 15px;
  white-space: pre-wrap;
  overflow: auto;
  margin: 0;
  flex: 1;
}

.linkWrapper {
  padding: 3px 5px;
  cursor: pointer;
  text-decoration: underline;
  color: blue;
  background-color: #f1f1f1;
  position: relative;
  &:hover {
    .attachedUrl {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
  .attachedUrl {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -10px);
    padding: 3px 8px;
    border-radius: 5px;
    box-shadow:
      rgba(17, 17, 26, 0.05) 0px 4px 16px,
      rgba(17, 17, 26, 0.05) 0px 8px 32px;
    transition:
      opacity linear 0.3s,
      transform linear 0.3s;
    color: #000;
    cursor: pointer;
    opacity: 0;
    text-decoration: underline;
  }
}

.badgeEle {
  padding: 2px 5px;
  background-color: green;
  color: #fff;
  border-radius: 3px;
}

.commentContainer {
  padding: 10px 20px;
  background-color: #fff;
  font-size: 14px;
  margin-top: 8px;
  border-radius: 5px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  max-height: 240px;
  overflow: hidden auto;

  .comment {
    max-width: 300px;
    .author {
      font-size: 13px;
      font-weight: bold;
      .time {
        color: gray;
        font-size: 11px;
        font-weight: normal;
      }
    }
    .commentFor,
    .content {
      border-left: 5px solid #ccc;
      padding: 5px 10px;
      background-color: #f5f5f5;
      font-size: 12px;
    }
    .content {
      font-size: 13px;
      margin: 5px 0;
      border-left-color: #000;
    }
  }
}

.imageElement {
  position: relative;
  display: flex;
  .imageSelf {
    display: block;
    max-width: 100%;
    max-height: 20em;
  }
  .delButton {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    background-color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}
